<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
          name="Foo"
          address="http://localhost:8080/Foo"
          binding="basicHttpBinding"
          contract="Foobar_service.IFoo" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
    <services />
  </system.serviceModel>
</configuration>