<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8888/ServiceRecettes/ServiceRecettes/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="RecipeServiceReference.InterfaceRecipeService" name="BasicHttpBinding_IService" />
      <endpoint address="http://localhost:20130/RecipeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InterfaceRecipeService"
        contract="RecipeServiceReference.InterfaceRecipeService" name="BasicHttpBinding_InterfaceRecipeService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_InterfaceRecipeService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
    <services />
  </system.serviceModel>
</configuration>