<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Foobar_service.Foo">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Foo"/>
          </baseAddresses>
        </host>
        <endpoint
          binding="basicHttpBinding"
          contract ="Foobar_service.IFoo"
        />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>