<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibliothèque du service, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration pour les bibliothèques. -->
  <system.serviceModel>
    <services>
      <service name="server.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_Time_Addresses/server/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Sauf si elle est qualifiée complète, l'adresse est relative à l'adresse de base indiquée plus haut -->
        <endpoint address ="" binding="wsHttpBinding" contract="server.IService1">
          <!-- 
              Lors du déploiement, l'élément d'identité suivant doit être supprimé ou remplacé pour refléter 
              l'identité sous laquelle le service déployé s'exécute.  En cas de suppression, WCF déduira automatiquement une identité 
              appropriée.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- Le point de terminaison de l'échange de métadonnées est utilisé par le service pour se décrire aux clients. --> 
        <!-- Ce point de terminaison n'utilise pas de liaison sécurisée et doit être sécurisé ou supprimé avant le déploiement -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation des informations sur les métadonnées, 
          définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Définissez-la sur false avant le déploiement 
          pour éviter la divulgation des informations d'exception -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
