<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DateWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51163/WebSite3/DateWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DateWebServiceSoap"
                contract="ServiceReference1.DateWebServiceSoap" name="DateWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>