<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="tp4_client.ServiceReference1.Service1Client">
                <clear />
                <endpoint address="net.tcp://localhost/service" binding="netTcpBinding"
                    name="service" contract="ServiceReference1.IService1" listenUriMode="Explicit">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8888/meta" binding="mexHttpBinding"
                    bindingConfiguration="" name="meta" contract="IMetadataExchange" />
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://localhost:8888/mex/wsdl"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>